{% extends 'blog/base.html' %}

{% block content %}
    <ul>
        <h3>Login required to take the attendance</h3>
        {% if user.is_authenticated %}
        <li><h1><u><a href="{% url 'take' pk=user.pk %}">Take attendance</a></u></h1></li>
        {% endif %}
        <li><h1><u><a href="{% url 'status' %}">See attendance status</a></u></h1></li>
        <li><h1><u>List of Courses</u></h1></li>
    </ul>
    {% for course in courses %}
         <h2><a href="{% url 'course_detail' pk=course.pk %}">{{ course.name }}</a></h2>
         <h3>{{ course.course_code }}</h3>
    {% endfor %}
{% endblock %}
